body {
  margin: 0;
  padding: 0;
  background-color: white;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ef5f60;
}

.clearfix {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.head_title {
  font-family: "Bebas Neue", cursive;
  font-size: 21px;
  color: #4d4d4d;
  margin: 0;
}

.head_sub_title {
  font-family: "Roboto", sans-serif;
  color: #808080;
  font-size: 15px;
}

button {
  font-family: "Bebas Neue", cursive;
  background: #ef5f60;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1.14px;
  text-transform: uppercase;
  border: 0;
  padding: 8px 10px;
  outline: 0;
  cursor: pointer;
}

button .material-icons {
  font-size: 14px !important;
}

button:hover {
  opacity: 0.8;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* container */
.container {
  width: 100%;
  height: auto;
}

.content-area {
  width: 1174px;
  margin: 0 auto;
}



.container .container__content {
  width: 100%;
  height: auto;
  min-height: 50vh;
}

/* header */
header {
  width: 100%;
  height: 178px;
}
header .header_content {
  height: 208px;
}

header .header_content .logo {
  width: auto;
  height: 47px;
  margin-top: 74px;
  float: left;
}

header .header_content .logo img {
  height: 47px;
}

header .header_content .nav {
  width: auto;
  height: 47px;
  margin-top: 74px;
  float: right;
}

/* menu */
.menu {
  list-style-type: none;
}

.menu li {
  display: inline-block;
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  margin: 0 27px;
}

.menu li a{
  color: #4D4D4D;
}

.menu li a:hover{
  color: #ef5f60;
}


/* head slogan*/
.head-slogan {
  width: 100%;
  height: 208px;
  background-color: #f1f4f5;
}

.head-slogan .content {
  padding-top: 68px;
}
.head-slogan .content h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 38px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #4d4d4d;
}

.head-slogan .content p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #808080;
}

/*gallert */
.gallery {
  height: 1206px;
}

.gallery-container {
  margin: 30px 0;
  height: 100%;
}

.gallery-container .head {
  height: 45px;
  line-height: 45px;
  padding: 5px 10px 5px 5px;
}

.gallery-container .gallery-items {
  height: 939px;
}
.gallery-container .gallery-items .item {
  width: 380px;
  height: 303px;
  margin: 5px;
  background-color: #e5e5e5;
  float: left;
  cursor: pointer;
}
.gallery-container .gallery-items .item:hover {
  opacity: 0.8;
}

.gallery-container .contact {
  text-align: center;
  padding-top: 57px;
}

.gallery-container .contact .contant_title {
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  font-weight: normal;
  color: #4d4d4d;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin: 20px;
}

/*project */
.project {
  height: 520px;
}

.project-items {
  margin-top: 40px;
}

.project-items .item {
  width: calc(25% - 25px);
  display: inline-block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.project-items .item:hover {
  box-shadow: 0 0 3px #4d4d4d;
}

.project-items .item h4 {
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
  font-weight: normal;
  color: #4d4d4d;
  margin-bottom: 0;
}
.project-items .item p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #808080;
}

.project-items .item img {
  width: 114px;
  height: 114px;
  border-radius: 50%;
}

/*news */
.news {
  height: auto;
}

.news_items {
  margin-top: 40px;
}

.news_items .item {
  margin: 15px;
  width: calc(50% - 30px);
  height: 183px;
}

.news_items .item .news-img {
  width: 183px;
  height: 183px;
}

.news_items .item .news-content {
  width: calc(100% - 203px);
  margin-left: 20px;
}

.news_items .item .news-content .date-info {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  color: #c3c3c3;
  font-size: 17px;
  margin-bottom: 10px;
}


/* Footer */

.container footer {
  width: 100%;
  min-height: auto;
  background-color: #2d2d30;
  padding: 67px 0;
}

.container footer .copyright {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  font-size: 18px;
}

footer .social {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}



footer .social .social-icon {
  width: 34px;
  height: 34px;
  display: inline-block;
  margin: 5px;
  
}

footer .social .social-icon .material-icons {
  font-size: 34px !important;
}

.social-icon.facebook {
  color: #3b5998;
}
.social-icon.email {
  color: #ffffff;
}
.social-icon.call {
  color: #0af17e;
}